body{
    background: white url("images/background.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: x-large;
}
.btn{
        border: 1px solid;
}