{% extends 'music/base.html' %}
{% block title %} registration {% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Create a new account</h3>
                    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% include 'music/form-template.html' %}
                         {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-success" type="Submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}